{% extends 'base.html' %}
{% block title %}
Sticky Notes - {{ page_title }}
{% endblock title %}
{% block content %}
<div class="container">
  <div class="row py-5">
    <div class="col-lg-5">
      <a href="{% url 'note_create' %}">
        <div class="text-button">Add note</div></a>
    </div>
  </div>
  <div class="row">
    {% for note in notes %}
    <div class="col-md-3">
      <a href="{% url 'note_detail' pk=note.pk %}">
        <div class="notebox">
          <p id="title">{{ note.title }}</p>
          <p>{{ note.content }}</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}